
/* start  switch color */
.style-switcher{
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    z-index: 120;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.style-switcher.open{
    transform: translateX(10%);
}
.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--themecolor);
    color: bisque;
    right: 100%;
    border: 1px solid var(--themecolor);
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.style-switcher .s-icon{
    line-height: 40px;
}
.style-switcher .style-switcher-toggler{
    top: 0;
}

.style-switcher .colos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span i{
    display: inline-block; 
    font-size: 33px;
}
.style-switcher .color-1{
    color: #3314e0;
}
.style-switcher .color-2{
    color:  #14ade0;
}
.style-switcher .color-3{
    color: #be14e0;
}
.style-switcher .color-4{
    color:#14e022;
}
.style-switcher .color-5{
    color:  #0e170f;
}
/* end switch color */